<!-- component -->
<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />

<!-- This is an example component -->
<div
      class="bg-grayDark"
    x-data="{ atTop: true }"
    x-on:scroll.window="atTop =( window.pageYOffset > 10) ? false : true "
     >
    <!-- Navbar -->
    <div
      class="w-full text-gray-700 bg-white h-16 fixed top-0 animated z-40 border"
      x-bind:class='{ "bg-black shadow-lg": !atTop }'
    >
      <div
        x-data="{ open: false }"
        class="flex flex-col max-w-screen-xl px-7 mx-auto md:items-center md:justify-between md:flex-row"
      >
        <div class="py-3 px-2 flex flex-row items-center justify-between">
          <a
            href="home.html"
            class="tracking-widest rounded-lg focus:outline-none focus:shadow-outline"
          >
        <svg class="w-8 h-8 text-purple-600" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg">
          <title>TailwindCSS</title>
          <path fill="currentColor" d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"></path>
        </svg>
          </a>
           <div class="flex-1 flex justify-center px-2 lg:ml-6 lg:justify-end hidden lg:block" >
                <div class="max-w-lg w-full lg:max-w-xs">
                    <form accept-charset="UTF-8" action="/search" method="get">
                        <label class="sr-only" for="search">Search</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                <svg class="h-5 w-5 text-gray-400" viewbox="0 0 20 20">
                                <path clip-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" fill-rule="evenodd"></path></svg>
                            </div><input class="block w-full pl-10 pr-40 py-2 border rounded-md leading-5 bg-white placeholder-gray-600 focus:outline-none focus:bg-white sm:text-sm transition duration-150 ease-in-out" id="q" name="q" placeholder="Search" type="text">
                        </div>
                    </form>
                </div>
            </div>
          <!-- Button Mobile Nav -->
          <a class="flex justify-center items-center bg-blue-500 text-white px-4 py-2 hover:bg-blue-600 rounded-md font-bold md:hidden ">
                <span>Create Post</span>
            </a>
          <button
            class="md:hidden rounded-lg focus:outline-none focus:shadow-outline"
            @click="open = !open"
          >
            <span class="text-lg text-primary">
                <i class="fas fa-bell"></i >
            </span>
          </button>
          <!-- End Button Mobile Nav -->
        </div>
        <!-- Navbar Mobile -->
        <nav
          :class="{'flex': open, 'hidden': !open}"
          class="flex-col flex-grow pb-4 hidden bg-white shadow-lg rounded-b"
        >
          <a
            class="block px-4 py-2 mt-2  bg-transparent rounded-lg  text-sm font-semibold md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
            href="#"
            >Notifikasi 1</a
          >
          <a
          class="block px-4 py-2 mt-2  bg-transparent rounded-lg  text-sm font-semibold md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
          href="#"
          >Notifikasi 1</a
        >
        <a
        class="block px-4 py-2 mt-2  bg-transparent rounded-lg  text-sm font-semibold md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
        href="#"
        >Notifikasi 1</a
      >
      <a
      class="block px-4 py-2 mt-2  bg-transparent rounded-lg  text-sm font-semibold md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
      href="#"
      >Notifikasi 1</a
    >
        </nav>
        <!-- End Navbar Mobile -->


        <nav class="flex-col flex-grow pb-4 md:pb-0 hidden md:flex md:justify-end md:flex-row bg-white" >
        <a class="flex justify-center items-center bg-blue-500 text-white px-4 py-2 hover:bg-blue-600 rounded-md font-bold">
            <span>Create Post</span>
        </a>
          <a class="flex items-center px-3 py-1 mt-2 text-lg font-semibold text-primary rounded-lg md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#" >
            <i class="fas fa-envelope mt-1"></i>
          </a>
          <div
            @click.away="open = false"
            class="relative"
            x-data="{ open: false }"
          >
            <button
              @click="open = !open"
              class="flex flex-row items-center w-full px-3 py-1 mt-2 text-sm font-semibold text-left bg-transparent rounded-lg md:w-auto md:mt-0 md:ml-2 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
            >
              <span class="text-lg text-primary mt-1"
                ><i class="fas fa-bell"></i
              ></span>
            </button>
            <div
              x-show="open"
              x-transition:enter="transition ease-out duration-100"
              x-transition:enter-start="transform opacity-0 scale-95"
              x-transition:enter-end="transform opacity-100 scale-100"
              x-transition:leave="transition ease-in duration-75"
              x-transition:leave-start="transform opacity-100 scale-100"
              x-transition:leave-end="transform opacity-0 scale-95"
              class="absolute right-0 w-full mt-2 origin-top-right rounded-md shadow-lg md:w-48"
            >
              <div class="px-2 py-2 bg-white rounded-md shadow">
                <a
                  class="block px-4 py-2 mt-2  bg-transparent rounded-lg  text-sm font-semibold md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                  href="#"
                  >Notifikasi 1</a
                >
                <a
                  class="block px-4 py-2 mt-2  bg-transparent rounded-lg  text-sm font-semibold md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                  href="#"
                  >Notifikasi #2</a
                >
                <a
                  class="block px-4 py-2 mt-2  bg-transparent rounded-lg  text-sm font-semibold md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                  href="#"
                  >Notifikasi #3</a
                >
              </div>
            </div>
          </div>
          <div
            @click.away="open = false"
            class="relative"
            x-data="{ open: false }"
          >
            <button
              @click="open = !open"
              class="flex flex-row items-center w-full px-1 py-1 mt-2 text-sm font-semibold text-left bg-transparent rounded-full md:w-auto md:mt-0 md:ml-2 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
            >
              <img src="https://randomuser.me/api/portraits/men/12.jpg" class="w-auto h-8 rounded-full" alt="" />
            </button>

            <div
              x-show="open"
              x-transition:enter="transition ease-out duration-100"
              x-transition:enter-start="transform opacity-0 scale-95"
              x-transition:enter-end="transform opacity-100 scale-100"
              x-transition:leave="transition ease-in duration-75"
              x-transition:leave-start="transform opacity-100 scale-100"
              x-transition:leave-end="transform opacity-0 scale-95"
              class="absolute right-0 w-full mt-2 origin-top-right rounded-md shadow-lg md:w-48"
            >
              <div class="px-2 py-2 bg-white rounded-md shadow">
                <a
                  class="block px-4 py-2 mt-2  bg-transparent rounded-lg  text-sm font-semibold md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                  href="forum.html"
                  >Forum</a
                >
                <a
                  class="block px-4 py-2 mt-2  bg-transparent rounded-lg  text-sm font-semibold md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                  href="chat.html"
                  >Chat</a
                >
                <a
                  class="block px-4 py-2 mt-2  bg-transparent rounded-lg  text-sm font-semibold md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                  href="#"
                  >Link #3</a
                >
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- End Navbar -->
</div>

<script
    src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
    defer
  ></script>
<main class="flex-grow bg-gray-100 mt-16">

    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 my-4">
        <div class="lg:flex">
            <div class="mb-4 lg:w-5/12 hidden lg:block">
                <div class="bg-white shadow rounded-md p-4 md:p-4">
                    <h3 class="text-lg md:text-lg font-bold">Product App is a community of amazing product managers</h3>
                    <div class="text-gray-700 flex justify-between py-2">
                        <div>
                            We're a place where product managers share, stay up-to-date and grow their careers.
                        </div>
                    </div>
                    <a class="flex justify-center items-center bg-blue-500 text-white px-2 py-2 hover:bg-blue-600 rounded-md font-bold">
                        <span>Create new account</span>
                    </a>

                    <a class="flex mt-2 justify-center items-center text-blue-700 hover:text-blue-700 px-2 py-2 hover:text-gray-900 hover:bg-gray-200 rounded-md font-bold text-gray-600">
                        <span>Login</span>
                    </a>
                </div>
                <nav class="flex-grow pb-4 mb-6 md:pb-0 md:overflow-y-auto">
                    <a class="flex mt-4 items-center text-gray-900 hover:text-blue-700 px-2 py-2 hover:text-gray-900 hover:bg-gray-600 hover:bg-opacity-25 rounded-md font-medium text-gray-600">
                        <img src="https://img.icons8.com/color/25/000000/home.png"/>
                        <span class="ml-3">Home</span>
                    </a>
                    <a class="flex items-center text-gray-900 hover:text-blue-700 px-2 py-2 hover:text-gray-900 hover:bg-gray-600 hover:bg-opacity-25 rounded-md font-bold text-gray-600">
                        <img src="https://img.icons8.com/color/25/000000/handshake.png"/>
                        <span class="ml-3">Sign In/Up</span>
                    </a>
                </nav>
                <nav class="flex-grow pb-4 md:pb-0 md:overflow-y-auto">
                    <h3 class="font-bold p-2">Popular Tags</h3>
                    <div>
                        <a class="flex items-center text-gray-900 hover:text-blue-700 px-2 py-2 hover:text-gray-900 hover:bg-gray-600 hover:bg-opacity-25 rounded-md font-normal text-gray-600">
                        <span>#javascript</span>
                        <a class="flex items-center text-gray-900 hover:text-blue-700 px-2 py-2 hover:text-gray-900 hover:bg-gray-600 hover:bg-opacity-25 rounded-md font-normal text-gray-600">
                        <span>#javascript</span>
                        <a class="flex items-center text-gray-900 hover:text-blue-700 px-2 py-2 hover:text-gray-900 hover:bg-gray-600 hover:bg-opacity-25 rounded-md font-normal text-gray-600">
                        <span>#javascript</span>
                        <a class="flex items-center text-gray-900 hover:text-blue-700 px-2 py-2 hover:text-gray-900 hover:bg-gray-600 hover:bg-opacity-25 rounded-md font-normal text-gray-600">
                        <span>#javascript</span>
                    </a>
                    </div>
                </nav>
            </div>
            <div class="lg:w-3/3 lg:pl-6">
                <h2 class="mb-4 text-md md:text-lg font-bold">Posts</h2>
                <article class="bg-white rounded-lg mb-4 overflow-hidden shadow">
                    <img src="https://picsum.photos/id/29/2106/1404" class="w-full h-72 object-cover" >
                    <div class="px-6 py-4">
                        <div class="align-bottom flex-col leading-none">
                            <div class="flex flex-row items-center">
                                <img alt="Placeholder" class="block rounded-full" src="https://picsum.photos/32/32/?random" />
                                <div class="pl-2">
                                    <p class="text-sm font-semibold text-gray-800">John Doe</p>
                                    <p class="text-gray-700 text-xs mb-0">Jun 16 (5 hours ago)</p>
                                </div>
                            </div>
                        </div>
                        <h5 class="pl-10 text-3xl font-bold mt-2 mb-2 group-hover:text-indigo-600">Realtime Notifications with ActionCable</h5>
                        <div class="flex pl-10 mb-2 text-gray-600 font-medium text-sm">
                            <a href="" class="p-1">#javascript</a>
                            <a href="" class="p-1">#javascript</a>
                            <a href="" class="p-1">#javascript</a>
                        </div>
                        <div class="flex pl-9 text-gray-600 font-normal text-sm">
                            <a class="flex items-center text-gray-900 px-2 py-2 hover:text-gray-900 hover:bg-gray-200 rounded-md text-gray-600">
                                <i class="far fa-heart"></i>
                                <span class="ml-3">3 Reactions</span>
                            </a>

                            <a class="flex items-center text-gray-900 px-2 py-2 hover:text-gray-900 hover:bg-gray-200 rounded-md text-gray-600">
                                <i class="fal fa-comments-alt"></i>
                                <span class="ml-3">10 Comments</span>
                            </a>
                        </div>
                  </div>
                    
                </article>

                <article class="bg-white rounded-lg mb-4 overflow-hidden shadow">
                    <div class="px-6 py-4">
                        <div class="align-bottom flex-col leading-none">
                            <div class="flex flex-row items-center">
                                <img alt="Placeholder" class="block rounded-full" src="https://picsum.photos/32/32/?random" />
                                <div class="pl-2">
                                    <p class="text-sm font-semibold text-gray-800">John Doe</p>
                                    <p class="text-gray-700 text-xs mb-0">Jun 16 (5 hours ago)</p>
                                </div>
                            </div>
                        </div>
                        <h5 class="pl-10 text-3xl font-bold mt-2 mb-2 group-hover:text-indigo-600">Realtime Notifications with ActionCable</h5>
                        <div class="flex pl-10 mb-2 text-gray-600 font-medium text-sm">
                            <a href="" class="p-1">#javascript</a>
                            <a href="" class="p-1">#javascript</a>
                            <a href="" class="p-1">#javascript</a>
                        </div>
                        <div class="flex pl-9 text-gray-600 font-normal text-sm">
                            <a class="flex items-center text-gray-900 px-2 py-2 hover:text-gray-900 hover:bg-gray-200 rounded-md text-gray-600">
                                <i class="far fa-heart"></i>
                                <span class="ml-3">3 Reactions</span>
                            </a>

                            <a class="flex items-center text-gray-900 px-2 py-2 hover:text-gray-900 hover:bg-gray-200 rounded-md text-gray-600">
                                <i class="fal fa-comments-alt"></i>
                                <span class="ml-3">10 Comments</span>
                            </a>
                        </div>
                  </div> 
                </article>

                <article class="bg-white rounded-lg mb-4 overflow-hidden shadow">
                    <img src="https://picsum.photos/id/29/2106/1404" class="w-full h-72 object-cover" >
                    <div class="px-6 py-4">
                        <div class="align-bottom flex-col leading-none">
                            <div class="flex flex-row items-center">
                                <img alt="Placeholder" class="block rounded-full" src="https://picsum.photos/32/32/?random" />
                                <div class="pl-2">
                                    <p class="text-sm font-semibold text-gray-800">John Doe</p>
                                    <p class="text-gray-700 text-xs mb-0">Jun 16 (5 hours ago)</p>
                                </div>
                            </div>
                        </div>
                        <h5 class="pl-10 text-3xl font-bold mt-2 mb-2 group-hover:text-indigo-600">Realtime Notifications with ActionCable</h5>
                        <div class="flex pl-10 mb-2 text-gray-600 font-medium text-sm">
                            <a href="" class="p-1">#javascript</a>
                            <a href="" class="p-1">#javascript</a>
                            <a href="" class="p-1">#javascript</a>
                        </div>
                        <div class="flex pl-9 text-gray-600 font-normal text-sm">
                            <a class="flex items-center text-gray-900 px-2 py-2 hover:text-gray-900 hover:bg-gray-200 rounded-md text-gray-600">
                                <i class="far fa-heart"></i>
                                <span class="ml-3">3 Reactions</span>
                            </a>

                            <a class="flex items-center text-gray-900 px-2 py-2 hover:text-gray-900 hover:bg-gray-200 rounded-md text-gray-600">
                                <i class="fal fa-comments-alt"></i>
                                <span class="ml-3">10 Comments</span>
                            </a>
                        </div>
                  </div>
                    
                </article>

                <article class="bg-white rounded-lg mb-4 overflow-hidden shadow">
                    <div class="px-6 py-4">
                        <div class="align-bottom flex-col leading-none">
                            <div class="flex flex-row items-center">
                                <img alt="Placeholder" class="block rounded-full" src="https://picsum.photos/32/32/?random" />
                                <div class="pl-2">
                                    <p class="text-sm font-semibold text-gray-800">John Doe</p>
                                    <p class="text-gray-700 text-xs mb-0">Jun 16 (5 hours ago)</p>
                                </div>
                            </div>
                        </div>
                        <h5 class="pl-10 text-3xl font-bold mt-2 mb-2 group-hover:text-indigo-600">Realtime Notifications with ActionCable</h5>
                        <div class="flex pl-10 mb-2 text-gray-600 font-medium text-sm">
                            <a href="" class="p-1">#javascript</a>
                            <a href="" class="p-1">#javascript</a>
                            <a href="" class="p-1">#javascript</a>
                        </div>
                        <div class="flex pl-9 text-gray-600 font-normal text-sm">
                            <a class="flex items-center text-gray-900 px-2 py-2 hover:text-gray-900 hover:bg-gray-200 rounded-md text-gray-600">
                                <i class="far fa-heart"></i>
                                <span class="ml-3">3 Reactions</span>
                            </a>

                            <a class="flex items-center text-gray-900 px-2 py-2 hover:text-gray-900 hover:bg-gray-200 rounded-md text-gray-600">
                                <i class="fal fa-comments-alt"></i>
                                <span class="ml-3">10 Comments</span>
                            </a>
                        </div>
                  </div> 
                </article>

                <article class="bg-white rounded-lg mb-4 overflow-hidden shadow">
                    <div class="px-6 py-4">
                        <div class="align-bottom flex-col leading-none">
                            <div class="flex flex-row items-center">
                                <img alt="Placeholder" class="block rounded-full" src="https://picsum.photos/32/32/?random" />
                                <div class="pl-2">
                                    <p class="text-sm font-semibold text-gray-800">John Doe</p>
                                    <p class="text-gray-700 text-xs mb-0">Jun 16 (5 hours ago)</p>
                                </div>
                            </div>
                        </div>
                        <h5 class="pl-10 text-3xl font-bold mt-2 mb-2 group-hover:text-indigo-600">Realtime Notifications with ActionCable</h5>
                        <div class="flex pl-10 mb-2 text-gray-600 font-medium text-sm">
                            <a href="" class="p-1">#javascript</a>
                            <a href="" class="p-1">#javascript</a>
                            <a href="" class="p-1">#javascript</a>
                        </div>
                        <div class="flex pl-9 text-gray-600 font-normal text-sm">
                            <a class="flex items-center text-gray-900 px-2 py-2 hover:text-gray-900 hover:bg-gray-200 rounded-md text-gray-600">
                                <i class="far fa-heart"></i>
                                <span class="ml-3">3 Reactions</span>
                            </a>

                            <a class="flex items-center text-gray-900 px-2 py-2 hover:text-gray-900 hover:bg-gray-200 rounded-md text-gray-600">
                                <i class="fal fa-comments-alt"></i>
                                <span class="ml-3">10 Comments</span>
                            </a>
                        </div>
                  </div> 
                </article>
                </div>
            </div>
        </div>
    </div>
</main>